
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Git It Done</a></li>
      <li><a ng-click="viewLists()" href="#">My Lists</a></li>
      <li><a ng-click="createList()" href="#">New List</a></li>
    </ul>

    <div class="row">
      <div class="span12">
        <div class="" ng-view></div>        
      </div>
    </div>        
    