<div class="row">
  <div class="span12">
    <div class="form-group" >
      <input type='text' placeholder='New List Title' ng-model='newList.title'>
      <input type='text' placeholder='New List Details' ng-model='newList.details'>
      <div ng-repeat="input in inputs">
        <input type="text" ng-model="input.title" name="" placeholder="Task">
        <input type="text" ng-model="input.details" name="" placeholder="Task Details">
        <button ng-click="input.addDate = true">Add a Date</button>
        <input type="date" ng-show="input.addDate" ng-model="input.details" name="" >
      </div>
      <button ng-click="addNewInput()">Add a Task</button>
      <button ng-click="createNewList(newList, inputs)">Create List</button>
    </div>
  </div>
</div>
