<div class="row">
  <div class="col-md-10 col-md-offset-1"> 
    <div ng-show="showList">   

    <!-- Page Header -->
      <h1 class="header-text">I have {{lists.length}} lists:</h1>

      <!-- Loop to display Lists -->
      <div ng-repeat="list in lists | reverse">
        <div class="tile-progress tile-{{randColor()}}" >
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-11" ng-click='viewList(list.id)'>

                <!-- List Title -->
                  <div class="tile-header">
                    <h1>{{list.title}}</h1>
                  </div>
                </div>

              <!-- Delete Button -->
                <div class='col-sm-1 text-right'>
                  <span class="glyphicon glyphicon-trash lead tile-trash" ng-really-message="Are you sure"? ng-really-click="deleteList(list)">
                  </span>
                </div>
              </div>

              <!-- List Details -->
              <div class="row" ng-click='viewList(list.id)'>
                <div class="col-sm-12">
                  <p class="tile-detail">{{list.details}}</p>
                </div>
              </div>

            <!-- Percent Complete -->
              <div class="row" ng-click='viewList(list.id)'>
                <div class='col-sm-12'>
                  <p class='text-right tile-percentage'>{{list.tasks.length}} tasks & <strong>{{listCompletion($index)}}%</strong> complete</p>
                </div>
              </div>
            </div>
          </div>

        <!-- ProgressBar -->
          <div class="tile-progressbar">
            <span data-fill="{{list.percentage}}%" style='width: {{list.percentage}}%'></span>
          </div>
        </div>
      </div>
    </div>

  <!-- Alternate View When User Has No Lists -->
    <div ng-cloak ng-show="showMsg">
      <h2>Looks like you havent created any list yet</h2>
      <div class='btn btn-success' ng-click='createList()'>Start Here</div>
    </div>
  </div>
</div>