<div class="row">
  <div class="col-sm-4">
    <div class="tile-progress tile-aqua">
      <div class="tile-header">
        <h3>{{currentList.title}}</h3>
        <span>{{currentList.details}}</span>
      <div class="tile-progressbar">
        <span data-fill="65.5%" style="width: 65.5%;"></span>
      </div>
      <div class="tile-footer" ng-repeat='task in currentList.tasks | orderBy: "id"'>
        <div class='col-md-1 checkmark ng-class:{green:task.checked}' style=' ' ng-click="checkTask(task)">
          <span class='glyphicon glyphicon-ok'></span>
        </div>
        <div class='col-md-6'>
          <h5>{{task.title}}</h5>
          <p>{{task.details}}</p>
        </div>
        <div class='col-md-5'>
        </div>
      </div>
    </div>
    <div class="form-group" >
      <input type="text" ng-model="input.title" name="" placeholder="Task">
      <input type="text" ng-model="input.details" name="" placeholder="Task Details">
      <button ng-click="addTask(input)">Add Task</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="tile-progress tile-aqua">
      <div class="tile-header">
        <h3>Visitors</h3>
        <span>so far in our blog, and our website.</span>
      </div>
      <div class="tile-progressbar">
        <span data-fill="65.5%" style="width: 65.5%;"></span>
      </div>
      <div class="tile-footer">
        <h4>
          <span class="pct-counter">65.5</span>% increase
        </h4>
        <span>so far in our blog and our website</span>
      </div>
    </div>
  </div>
</div>