
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Git It Done</a>
        <ul class="nav">
          <li><a ui-sref="listIndex">My Lists</a></li>
          <li><a ui-sref="#">Create New List</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="" ng-view></div>        
      </div>
    </div>        
    
