<h1 class="header-text">ADD A TASK</h1>
<div class="row">
  <div class="form-group" >
    <div class="col-sm-3 col-sm-offset-3">
      <input type="text" ng-model="input.title" class="form-control" placeholder="Task">
    </div>
    <div class="col-sm-3">
      <input type="text" ng-model="input.details" class="form-control" placeholder="Task Details">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 center-columns">
    <button class="btn btn-info full-width" ng-click="addTask(input)">Add Task</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-md-5 center-columns">
    <div class="tile-progress tile-{{randColor}}" >
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-10">
              <div class="tile-header">
                <h1>{{currentList.title}}</h1>
              </div>
            </div>
            <div class='col-sm-2 text-right'>
              <span class="glyphicon glyphicon-trash lead tile-trash" ng-really-message="Are you sure"? ng-really-click="deleteList(currentList)">
              </span>
            </div>
          </div>
          <div class="row" ng-click='viewList(list.id)'>
            <div class="col-sm-12">
              <p class="tile-detail">{{currentList.details}}</p>
            </div>
          </div>
          <div class="row" ng-click='viewList(list.id)'>
            <div class='col-sm-12'>
              <p class='text-right tile-percentage'>{{current.tasks.length}} tasks & <strong>{{completionPercent}}%</strong> complete</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tile-progressbar">
        <span data-fill="" style="width: {{completionPercent}}%;"></span>
      </div>
      <div ng-repeat='task in currentList.tasks | orderBy: "id"'>
        <div class="row tile-footer" style="background: rgba(0,0,0,0.{{10+($index*4)}})">
          <div class='col-xs-2 checkmark ng-class:{green:task.checked}' ng-click="checkTask(task)">
            <span class='glyphicon glyphicon-ok vert-center'></span>
          </div>
          <div class='col-xs-10'>
            <div class='row'>
              <div class='col-xs-12'>
                <h5>{{task.title}}</h5>
              </div>
              <div class='col-xs-12'>
                <p>{{task.details}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  </div>
</div>
